html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: row;
}

canvas {
	image-rendering: pixelated;
}

.game-renderer {
	display: none;
}

.game-output {
	width: 100%;
	height: 100%;
	background: black;
	align-content: center;
}

.resource, .game-image {
	display: none;
}